<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Matcher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
body {
background-color: black;
}
.container {
margin-top: 50px;
}
.card {
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,1);
}
.card-header {
background-color: #007bff;
color: white;
border-radius: 10px 10px 0 0;
padding: 10px 20px;
}
.card-body {
padding: 20px;
}
.form-group {
margin-bottom: 1.5rem;
}
</style>

<body>
<div class = "container">
    <div class = "card">
        <div class = "card-header">
            <h2>Job Description and Resume Matcher</h2>
        </div>
        <div class="card-body">
            <form action="/matcher" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="job_description">Job Description</label>
                    <textarea class="form-control" id="job_description" name="job_description" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="resumes">Upload Resumes</label>
                    <p>Please upload more than 5 resumes</p>
                    <input type="file" class="form-control" id="resumes" name="resumes" multiple required accept=".pdf, .docx, .txt">
                </div>
                <button type="submit" class="btn btn-primary">Match resume</button>
            </form>
             {% if message %}
                    <div class="alert alert-info mt-4">
                        <p>{{ message }}</p>
                        <ul>
                            {% for index in range(top_resumes|length) %}
                                <li>{{ top_resumes[index] }} (Similarity Score: {{ similarity_scores[index] }})</li>
                            {% endfor %}
                        </ul>
        </div>
                {% endif %}
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>